<div class="top-control">
  <a class="btn btn-primary" ui-sref="root.main.new_unit">
    <i class="fa fa-file-code-o"></i> New Unit
  </a>
</div>
<ul class="machine-list unstyled clearfix">
  <li class="machine" ng-repeat="machine in machine.items | orderBy:'IPAddress'">
    <div class="machine-info">
      <div class="machine-title">
        <i class="fa fa-circle"></i> {{ machine.Machine }}
      </div>
      <div class="machine-desc">
        <div class="machine-ip">
          <i class="fa fa-sitemap"></i> {{ machine.IPAddress }}
        </div>
        <div class="machine-meta" ng-hide="machine.Metadata == '-'">
          <div ng-repeat="metadata in machine.Metadata.split(',')">
            {{ metadata }}
          </div>
        </div>
      </div>
      <ul class="unit-list unstyled clearfix">
        <li class="unit" ng-repeat="unit in unit.items[machine.Machine] | orderBy:'Unit'">
          <a ui-sref="root.main.unit({ name: unit.Unit })" class="unit-info">
            <span class="label label-{{ unit.Sub }}">{{ unit.Sub }}</span>
            {{ unit.Unit | serviceName }}
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<ui-view></ui-view>
