<ul class="machine-list unstyled clearfix">
  <li class="machine" ng-repeat="machine in machine.items | orderBy:'IPAddress'">
    <div class="machine-info">
      <div class="machine-title">{{ machine.Machine }}</div>
      <div class="machine-desc">
        <span class="machine-ip">{{ machine.IPAddress }}</span>
        <div class="machine-meta">
          <div ng-repeat="metadata in machine.Metadata.split(',')">
            {{ metadata }}
          </div>
        </div>
      </div>
      <ul class="unit-list unstyled clearfix">
        <li class="unit" ng-repeat="unit in unit.items[machine.Machine] | orderBy:'Unit'">
          <a ui-sref="root.main.unit({ name: unit.Unit })" class="unit-info">
            {{ unit.Unit }}
            <span class="label label-{{ unit.Sub }}">{{ unit.Sub }}</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<ui-view></ui-view>
