@charset 'UTF-8';

@import 'util';

.unit-wrapper {
  .label {
    background-color: #eee;
  }

  .label-running {
    background-color: #18bc9c;
  }
  
  .label-failed {
    background-color: #EC663C;
  }

  .label-start-pre,
  .label-stop {
    background-color: #3498db;
  }

  .label-dead {
    background-color: #e74c3c;
  }

  .unit-title {
    @include sans-font(600);
    font-size:20px;
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;

    .close-btn {
      position: absolute;
      @include sans-font(300);
      top: 0;
      right: 20px;
      font-size: 40px;
    }
  }

  .unit-control {
    padding: 0 20px;
    @include sans-font(600);

    .fa-play,
    .fa-stop,
    .fa-exclamation-triangle {
      color: #000;
      font-size: 12px;
    }

    .btn[disabled] {
      opacity: .2;
    }
  }

  .unit-log-wrapper {
    padding: 20px;

    .unit-log {
      @include sans-font(300);
      background-color: #333;
      color: #fff;
      padding: 10px;
      height: 400px;
      overflow: auto;

      .log {
        font-size: 12px;
        padding: 3px 0;
        @include long-text();
      }
    }
  }
}
